<ion-view view-title="DMM">
  <ion-content>
	<ul class="card">

      <label class="item item-input">
        <span class="input-label">ID</span>
        <input type="text" placeholder="there is no device ID" ng-model = "dmmInfo.event.id">
      </label>

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="there is no device ID" ng-model = "dmmInfo.event.device.name">
      </label>

      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" placeholder="there is no device ID" ng-model = "description">
      </label>

    </ul>


	<ul class="card">

      <div class="item item-divider">
        Hardware
      </div>

      <label class="item item-input">
        <span class="input-label">Serial number</span>
        <input type="text" placeholder="there is no device ID" ng-model = "serialNumber">
      </label>

      <label class="item item-input">
        <span class="input-label">Manufacturer</span>
        <input type="text" placeholder="there is no device ID" ng-model = "manufacturer">
      </label>

      <label class="item item-input">
        <span class="input-label">Manufacturer OUI</span>
        <input type="text" placeholder="there is no device ID" ng-model = "manufacturerOUI">
      </label>


      <label class="item item-input">
        <span class="input-label">Model</span>
        <input type="text" placeholder="there is no device ID" ng-model = "model">
      </label>

    </ul>


	<ul class="card">

      <div class="item item-divider">
        Software
      </div>   

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="there is no device ID" ng-model = "softwareName">
      </label>

      <label class="item item-input">
        <span class="input-label">Type</span>
        <input type="text" placeholder="there is no device ID" ng-model = "type">
      </label>

      <label class="item item-input">
        <span class="input-label">Version</span>
        <input type="text" placeholder="there is no device ID" ng-model = "version">
      </label>

      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="text" placeholder="there is no device ID" ng-model = "date">
      </label>

    </ul>


    <ul class="card">
      <label class="item item-input">
        <span class="input-label">Specific type</span>
        <input type="text" placeholder="there is no device ID" ng-model = "specificType">
      </label>
    </ul>


  <ul class="card">

      <div class="item item-divider">
        Location
      </div>

      <label class="item item-input">
        <span class="input-label">Timestamp</span>
        <input type="text" placeholder="there is no device ID" ng-model = "timestamp">
      </label>

      <label class="item item-input">
        <span class="input-label">Latitude</span>
        <input type="text" placeholder="there is no device ID" ng-model = "latitude">
      </label>

      <label class="item item-input">
        <span class="input-label">Longitude</span>
        <input type="text" placeholder="there is no device ID" ng-model = "longitude">
      </label>

    </ul>

  <ul class="card">

      <div class="item item-divider">
        Temperature
      </div>   

      <label class="item item-input">
        <span class="input-label">Unit</span>
        <input type="text" placeholder="there is no device ID" ng-model = "unit">
      </label>

      <label class="item item-input">
        <span class="input-label">Current</span>
        <input type="text" placeholder="there is no device ID" ng-model = "current">
      </label>

      <label class="item item-input">
        <span class="input-label">Status</span>
        <input type="text" placeholder="there is no device ID" ng-model = "tempStatus">
      </label>

      <label class="item item-input">
        <span class="input-label">Trend</span>
        <input type="text" placeholder="there is no device ID" ng-model = "tempTrend">
      </label>      

      <label class="item item-input">
        <span class="input-label">Average</span>
        <input type="text" placeholder="there is no device ID" ng-model = "average">
      </label>

      <label class="item item-input">
        <span class="input-label">Maximum</span>
        <input type="text" placeholder="there is no device ID" ng-model = "maximum">
      </label>

      <label class="item item-input">
        <span class="input-label">Minimum</span>
        <input type="text" placeholder="there is no device ID" ng-model = "minimum">
      </label>

    </ul>

    <ul class="card">
      <label class="item item-input">
        <span class="input-label">Operational status</span>
        <input type="text" placeholder="there is no device ID" ng-model = "operationalStatus">
      </label>
    </ul>


  <ul class="card">

      <div class="item item-divider">
        Power suply
      </div>

      <label class="item item-input">
        <span class="input-label">Source</span>
        <input type="text" placeholder="there is no device ID" ng-model = "source">
      </label>

      <label class="item item-input">
        <span class="input-label">Status</span>
        <input type="text" placeholder="there is no device ID" ng-model = "powerStatus">
      </label>


      <div class="item item-divider">
        Battery charge level
      </div>

      <label class="item item-input">
        <span class="input-label">Trend</span>
        <input type="text" placeholder="there is no device ID" ng-model = "powerTrend">
      </label>

      <label class="item item-input">
        <span class="input-label">Status</span>
        <input type="text" placeholder="there is no device ID" ng-model = "batteryStatus">
      </label>

      <label class="item item-input">
        <span class="input-label">Percentage</span>
        <input type="text" placeholder="there is no device ID" ng-model = "percentage">
      </label>

    </ul>



  <ul class="card">

      <div class="item item-divider">
        Communications Modules
      </div>   

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="there is no device ID" ng-model = "name">
      </label>


      <label class="item item-input">
        <span class="input-label">Type</span>
        <input type="text" placeholder="there is no device ID" ng-model = "communicationType">
      </label>

      <div class="item item-divider">
        Hardware
      </div>

      <label class="item item-input">
        <span class="input-label">Serial Number</span>
        <input type="text" placeholder="there is no device ID" ng-model = "communicationserialNumber">
      </label>

      <label class="item item-input">
        <span class="input-label">Manufacturer</span>
        <input type="text" placeholder="there is no device ID" ng-model = "communicationManufacturer">
      </label>      

      <label class="item item-input">
        <span class="input-label">Manufacturer OUI</span>
        <input type="text" placeholder="there is no device ID" ng-model = "communicationManufacturerOUI">
      </label>      
      
      <label class="item item-input">
        <span class="input-label">Model</span>
        <input type="text" placeholder="there is no device ID" ng-model = "communicationModel">
      </label>

      <div class="item item-divider">
        Subscription
      </div>

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="there is no device ID" ng-model = "subscriptionName">
      </label>

      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" placeholder="there is no device ID" ng-model = "subscriptionDescription">
      </label>

    </ul>



  </ion-content>
</ion-view>
